.field {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #444444;
}

.input {
  width: 300px;
  padding: 10px;
  background-color: white;
  color: #656d78;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.input:focus {
  border-color: #00bcd4;
  background-color: white;
}

.specialInput {
  width: 300px;
  padding: 10px;
  background-color: #e9e9e9;
  color: #656d78;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.specialInput:focus {
  border-color: #00bcd4;
  background-color: #bbbbbb;
}
.inputWrapper {
  position: relative;
}
.iconButton {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.emailInput {
  width: 360px;
}

input[type="password"] {
  -webkit-text-security: disc;
  text-security: disc;
  font-size: 20px;
  font-weight: 700;
}
