.input{
    width: 364px;
    height: 48px;
    border: 1px solid #737373;
    box-shadow: 2px 2px 4px 0px #000000;
    border-radius: 10px;
    padding-left: 14px;
    outline: none;
    background-color: #BCBCBC;
    color: #666666;
    font-family: 'Ubuntu',sans-serif;
    
}