.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 2px 2px 4px 0px #000000;
}

.btnPrimary {
  background-color: #0b0076;
  color: #ffffff;
  font-weight: 400;
}

.btnPrimary:hover {
  background-color: #0c0076c4;
}

.btnSecondary {
  background-color: #ffffff;
  color: #444444;
}

.btnSecondary:hover {
  background-color: #00000028;
}

.btnTerciary{
 background-color: #893034;
 color: #FFFFFF;
}

.btnTerciary:hover {
  background-color: #00000028;
}


.btnQuartenary{
  background-color: #404040;
  color: #FFFFFF;
}

.btnQuartenary:hover {
  background-color: #00000028;
}
