.container {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;

  h1 {
    padding-top: 30px;
  }

  .shortcuts {
    display: flex;
    flex-direction: row;
    gap: 44px;
  }
}
