.container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99999;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;

  .modalContainer {
    width: 552px;
    height: 534px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    cursor: default;
    .closeModal {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    .modalHeader {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 40px;

      input {
        font-size: 14px;
        width: 315px;
        height: 39px;
      }

      .oldPass {
        display: flex;
        margin-top: 20px;
      }

      .newPass {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .btContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
